h1 {
    color: purple;
    text-align: center;
    font-size: 100px;
}

button {
    width: 125px;
    height: 50px;
    margin: 15px;
}

button:hover {
    background-color: lightblue;
}

form {
    text-align:center;

}