h1 {
    color: purple;
    text-align: center;
    font-size: 100px;
}

button {
    width: 125px;
    height: 50px;
    margin: 15px;
}

button:hover {
    background-color: lightblue;
    border: solid 1px;

}

form {
    text-align:center;

}

input {
    border-radius: 25px;
    height: 20px;
    width: 33%;
}